#root {
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.header-title {
    margin: 0 auto;
    text-align: center;
    flex: 1;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
